# panda tutorial

# Create dataframe using dictionary

In [10]:
import pandas as pd
weather={
    "day":['1','2','3','4','5','6'],
    "temperature":[32,35,28,24,32,32],
    "windspeed":[6,7,7,7,4,2],
    "event":['rain','snow','sunny','snow','rain','sunny']
    
}
df=pd.DataFrame(weather)
df

  day  temperature  windspeed  event
0   1           32          6   rain
1   2           35          7   snow
2   3           28          7  sunny
3   4           24          7   snow
4   5           32          4   rain
5   6           32          2  sunny

# create dataframe using csv file

In [11]:
import pandas as pd
df=pd.read_csv("weather.csv")
df

          day  temperature  windspeed  event
0  2017-01-01           32          6   rain
1  2017-01-02           35          7  sunny
2  2017-01-03           28          7   snow
3  2017-01-04           24          7   snow
4  2017-01-05           32          4   rain
5  2017-01-06           32          2  sunny

In [12]:
df.head() #head() print first few rows of the dataset

          day  temperature  windspeed  event
0  2017-01-01           32          6   rain
1  2017-01-02           35          7  sunny
2  2017-01-03           28          7   snow
3  2017-01-04           24          7   snow
4  2017-01-05           32          4   rain

In [13]:
df.shape

(6, 4)

In [14]:
df.head(3) #head(value) print first few rows according to the value of the dataset

          day  temperature  windspeed  event
0  2017-01-01           32          6   rain
1  2017-01-02           35          7  sunny
2  2017-01-03           28          7   snow

In [15]:
df.tail() #tail() print last few rows of the dataset

          day  temperature  windspeed  event
1  2017-01-02           35          7  sunny
2  2017-01-03           28          7   snow
3  2017-01-04           24          7   snow
4  2017-01-05           32          4   rain
5  2017-01-06           32          2  sunny

In [16]:
df.tail(3) #tail(value) print last few rows according to the value of the dataset

          day  temperature  windspeed  event
3  2017-01-04           24          7   snow
4  2017-01-05           32          4   rain
5  2017-01-06           32          2  sunny

In [17]:
df.columns #print all columns name of the csv file

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [18]:
df.day #print day columns all values

0    2017-01-01
1    2017-01-02
2    2017-01-03
3    2017-01-04
4    2017-01-05
5    2017-01-06
Name: day, dtype: object

In [19]:
df.temperature

0    32
1    35
2    28
3    24
4    32
5    32
Name: temperature, dtype: int64

In [20]:
df[['day','temperature','windspeed']]

          day  temperature  windspeed
0  2017-01-01           32          6
1  2017-01-02           35          7
2  2017-01-03           28          7
3  2017-01-04           24          7
4  2017-01-05           32          4
5  2017-01-06           32          2

In [21]:
df['temperature'].max() #print max temperature value from temperature column

35

In [22]:
df['temperature'].min() #print min temperature value from temperature column

24

In [23]:
df[df.temperature>=32] #printiing columns where temperature greater than 32

          day  temperature  windspeed  event
0  2017-01-01           32          6   rain
1  2017-01-02           35          7  sunny
4  2017-01-05           32          4   rain
5  2017-01-06           32          2  sunny

In [24]:
df[df.temperature==df.temperature.max()]

          day  temperature  windspeed  event
1  2017-01-02           35          7  sunny

In [25]:
df.mean()

temperature    30.5
windspeed       5.5
dtype: float64

In [26]:
df['day'][df.temperature==df.temperature.max()]

1    2017-01-02
Name: day, dtype: object

In [27]:
df[['day','event']][df.temperature==df.temperature.max()]

          day  event
1  2017-01-02  sunny

In [28]:
df

          day  temperature  windspeed  event
0  2017-01-01           32          6   rain
1  2017-01-02           35          7  sunny
2  2017-01-03           28          7   snow
3  2017-01-04           24          7   snow
4  2017-01-05           32          4   rain
5  2017-01-06           32          2  sunny

In [29]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [30]:
df.set_index('event') # change index to day

              day  temperature  windspeed
event
rain   2017-01-01           32          6
sunny  2017-01-02           35          7
snow   2017-01-03           28          7
snow   2017-01-04           24          7
rain   2017-01-05           32          4
sunny  2017-01-06           32          2

In [31]:
df.set_index('event',inplace=True)
df

              day  temperature  windspeed
event
rain   2017-01-01           32          6
sunny  2017-01-02           35          7
snow   2017-01-03           28          7
snow   2017-01-04           24          7
rain   2017-01-05           32          4
sunny  2017-01-06           32          2

In [32]:
df

              day  temperature  windspeed
event
rain   2017-01-01           32          6
sunny  2017-01-02           35          7
snow   2017-01-03           28          7
snow   2017-01-04           24          7
rain   2017-01-05           32          4
sunny  2017-01-06           32          2

In [33]:
df.loc['rain']

              day  temperature  windspeed
event
rain   2017-01-01           32          6
rain   2017-01-05           32          4

In [34]:
df.reset_index(inplace=True)

In [35]:
df

   event         day  temperature  windspeed
0   rain  2017-01-01           32          6
1  sunny  2017-01-02           35          7
2   snow  2017-01-03           28          7
3   snow  2017-01-04           24          7
4   rain  2017-01-05           32          4
5  sunny  2017-01-06           32          2

#