In [2]:
7-6

1

# List

In [3]:
a=["bread","pasta","noodles"]
len(a)

3

In [4]:
a[0]

'bread'

In [5]:
a[-1:]

['noodles']

In [6]:
a[0:2]

['bread', 'pasta']

Let us say your expense for every month are listed below,
January - 2200
February - 2350
March - 2600
April - 2130
May - 2190
Create a list to store these monthly expenses and using that find out,

1. In Feb, how many dollars you spent extra compare to January?
2. Find out your total expense in first quarter (first three months) of the year.
3. Find out if you spent exactly 2000 dollars in any month
4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
5. You returned an item that you bought in a month of April and got a refund of 200$.Make a correction to your monthly expense list based on this

In [12]:
list1=[2200,2350,2600,2130,2190]
print(list1)

[2200, 2350, 2600, 2130, 2190]

In [10]:
print("spend extra money in feb is",list1[1]-list1[0])

spend extra money in feb is 150

In [11]:
print("total expense in first quarter (first three months) of the year",list1[0]+list1[1]+list1[2])

total expense in first quarter (first three months) of the year 7150

In [13]:
2000 in list1

False

In [14]:
list1.append(1980)
print(list1)

[2200, 2350, 2600, 2130, 2190, 1980]

In [16]:
list1[3]=list1[3]-200
print(list1)

[2200, 2350, 2600, 1730, 2190, 1980]

In [ ]:
heros=['spider man','thor','hulk','iron man','captain america']
1. Length of the list
2. Add 'black panther' at the end of this list
3. You realize that you need to add 'black panther' after 'hulk',
   so remove it from the list first and then add it after 'hulk'
4. Now you don't like thor and hulk because they get angry easily :)
   So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
   Do that with one line of code.
5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [17]:
heros=['spider man','thor','hulk','iron man','captain america']
print(heros)

['spider man', 'thor', 'hulk', 'iron man', 'captain america']

In [18]:
len(heros)

5

In [19]:
heros.append('black panther')
print(heros)

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

In [21]:
heros.insert(3,'black panther')
print(heros)

['spider man', 'thor', 'black panther', 'black panther', 'hulk', 'iron man', 'captain america', 'black panther']

In [22]:
heros.remove('black panther')
print(heros)

['spider man', 'thor', 'black panther', 'hulk', 'iron man', 'captain america', 'black panther']

In [23]:
heros.remove('black panther')
print(heros)

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

In [24]:
heros.remove('black panther')
print(heros)

['spider man', 'thor', 'hulk', 'iron man', 'captain america']

In [25]:
heros.insert(3,'black panther')
print(heros)

['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']

# If Else statement

In [27]:
num=input("enter number=")
num=int(num)
print("number is",num)

enter number=7
number is 7

In [29]:
if num==5:
    print("even")
else:
    print("other")

other

In [ ]:
Using following list of cities per country,
india = ["mumbai", "banglore", "chennai", "delhi"]
pakistan = ["lahore","karachi","islamabad"]
bangladesh = ["dhaka", "khulna", "rangpur"]
Write a program that asks user to enter a city name and it should tell which country the city belongs to
Write a program that asks user to enter two cities and it tells you if they both are in same country or not.
For example if I enter mumbai and chennai, it will print "Both cities are in India" 
but if I enter mumbai and dhaka it should print "They don't belong to same country"

In [31]:
india = ["mumbai", "banglore", "chennai", "delhi"]
pakistan = ["lahore","karachi","islamabad"]
bangladesh =["dhaka", "khulna", "rangpur"]
city=input("enter city name ")

if city in india:
    print("in india")
elif city in pakistan:
    print("in pakistan")
elif city in bangladesh:
    print("in bangladesh")
else:

enter city name dhaka
in bangladesh

In [33]:
india = ["mumbai", "banglore", "chennai", "delhi"]
pakistan = ["lahore","karachi","islamabad"]
bangladesh =["dhaka", "khulna", "rangpur"]
city1=input("enter city 1")
city2=input("enter city2")
if city1 in india and city2 in india:
    print("same country in india")
elif city1 in pakistan and city2 in pakistan:
    print("same city in pakistan")
elif city1 in bangladesh and city2 in bangladesh:
    print("same city in bangladesh")
else:
    print("other")

enter city 1mumbai
enter city2delhi
same country in india

# LOOP

In [ ]:
After flipping a coin 10 times you got this result,
result = ["heads","tails","tails","heads","tails","heads","heads","tails","tails","tails"]
Using for loop figure out how many times you got heads

In [22]:
result = ["heads","tails","tails","heads","tails","heads","heads","tails","tails","tails"]
for i in result:
    print(i)

heads
tails
tails
heads
tails
heads
heads
tails
tails
tails

In [37]:
result = ["heads","tails","tails","heads","tails","heads","heads","tails","tails","tails"]
total=0
for i in result:
    if i=="heads":
        total=total+1
print(total)

4

In [ ]:
Print square of all numbers between 1 to 10 except even numbers

In [41]:
for i in range(10):
    if i%2==0:
        continue
    print(i*i)

1
9
25
49
81

In [ ]:
Your monthly expense list (from Jan to May) looks like this,
expense_list = [2340, 2500, 2100, 3100, 2980]
Write a program that asks you to enter an expense amount and program should tell you 
in which month that expense occurred. If expense is not found then it should print that as well.

In [ ]:
*
**
***
****
*****

In [49]:
for i in range(1,6):
    s=''
    for j in range(i):
        s+='*'
        print(s)

*
*
**
*
**
***
*
**
***
****
*
**
***
****
*****

In [54]:
for i in range(6):
    s = ''
    for j in range(i):
        s += '*'
    print(s)

*
**
***
****
*****

In [56]:
for i in range(6):
    s = ''
    for j in range(i):
        s +='*'
    print(s)

*
**
***
****
*****

# Function

In [ ]:
Write a function called calculate_area that takes base and height as an input and returns and area of a triangle.
Equation of an area of a triangle is,

In [5]:
def calculate_area(base,height):
    area = (1/2)*base*height
    return area
base=float(input("base="))
height=float(input("height="))
area=calculate_area(base,height)
print("area:",area)

base=10
height=20
area: 100.0

In [ ]:
Modify above function to take third parameter shape type. 
It can be either "triangle" or "rectangle". Based on shape type it will calculate area.
Equation of rectangle's area is,

In [10]:

def calculate_rectangle(length,width):
    rectangle_area=length*width
    return rectangle_area
base=float(input("base="))
height=float(input("height="))
area=calculate_rectangle(base,height)
print("area:",area)

base=20
height=20
area: 400.0

# Dictionaries

In [13]:
dic={"name":"azrin","area":"kapasia","age":20}
print(dic)

{'name': 'azrin', 'area': 'kapasia', 'age': 20}

In [16]:
dic["vill"]="kapasia"
print(dic)

{'name': 'azrin', 'area': 'kapasia', 'age': 20, 'vill': 'kapasia'}

In [17]:
del dic["vill"]
print(dic)

{'name': 'azrin', 'area': 'kapasia', 'age': 20}

In [25]:
for key in dic:
    print(dic[key])

azrin
kapasia
20

In [24]:
"area" in dic

True

In [26]:
"vill" in dic

False

In [28]:
dic.clear()

In [29]:
print(dic)

{}

# Country	Population dictionary problem
China	143
India	136
USA	32
Pakistan	21
Using above create a dictionary of countries and its population
1.Write a program that asks user for three type of inputs,
print: if user enter print then it should print all countries with their population in this format,
china==>143
india==>136
usa==>32
pakistan==>21
2.add: if user input add then it should further ask for a country name to add. 
    If country already exist in our dataset then it should print that it exist and do nothing. 
    If it doesn't then it asks for population and add that new country/population in our dictionary and print it
    
3 remove: when user inputs remove it should ask for a country to remove. 
    If country exist in our dictionary then remove it and print new dictionary using format shown above in (a). 
    Else print that country doesn't exist!
4 query: on this again ask user for which country he or she wants to query. When user inputs that country it will print population of that country.

In [37]:
country={"china":143,"india":136,"usa":32,"pakistan":21}
i_user=input("enter input: ")
if i_user=="print":
    for key in country:
        print(key,"==>",country[key])
elif i_user=="add":
    cname=input("country name")
    if cname in country:
        print("already exist")
    else:
        cpop=float(input("country population"))
        country[cname]=cpop
        print(country)
elif i_user=="remove":
    cname=input("country name: ")
    if cname in country:
        del country[cname] 
        print("after removing the dictionary is: ",country)
    else:
        print("country name doesn't exist")
elif i_user=="query":
    cname=input("country name")
    if cname in country:
        print("The population is: ",country[cname])
    else:
        print("country doesn't exist")
    
else:
    print("enter correct input")

enter input: query
country nameindia
The population is:  136

# Tuples

In [38]:
t=("azrin",24,"kapsia")
print(t)

('azrin', 24, 'kapsia')